<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container-sm p-3 my-3 bg-dark text-white">
    <h1>{{data.name}}</h1>
  </div>

  <div class="container">
    <h3 class="text-primary">Edit</h1><br>
      <form action="" method="post">
        {% csrf_token %}
      
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="font-weight-bolder">Nama</td>  
            <td>
              <input type="text" name="name" value="{{data.name}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Nama Ilmiah</td>  
            <td>
              <input type="text" name="binomial" value="{{data.binomial}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Kingdom</td>  
            <td>
              <input type="text" name="kerajaan" value="{{data.kerajaan}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Kelas</td>  
            <td>
              <input type="text" name="kelas" value="{{data.kelas}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Ordo</td>  
            <td>
              <input type="text" name="ordo" value="{{data.ordo}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Famili</td>  
            <td>
              <input type="text" name="famili" value="{{data.famili}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Genus</td>  
            <td>
              <input type="text" name="genus" value="{{data.genus}}" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="font-weight-bolder">Spesies</td>  
            <td>
              <input type="text" name="spesies" value="{{data.spesies}}" class="form-control">
            </td>
          </tr>

        </tbody>
      </table>

      <button class="btn btn-primary">Simpan</button>
    </form>
  </div>


</body>
</html>