<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sayuran</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center container p-3 my-3 bg-dark text-white">
    <h1>Daftar Sayuran</h1>
  </div>
  <div class="container">

    <form action="" method="POST" class="mt-3">
        {% csrf_token %}
        
        <h4 class="text-primary">Tambah Sayuran</h4>
        Nama
        <input type="text" name="name" class="form-control" />
        Nama Ilmiah
        <input type="text" name="binomial" class="form-control" />
        Kingdom
        <input type="text" name="kerajaan" class="form-control" />
        Kelas
        <input type="text" name="kelas" class="form-control" />
        Ordo
        <input type="text" name="ordo" class="form-control" />
        Famili
        <input type="text" name="famili" class="form-control" />
        Genus
        <input type="text" name="genus" class="form-control" />
        Spesies
        <input type="text" name="spesies" class="form-control" />







        <button class="btn btn-primary mt-1">Tambah</button>

    </form>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Sayuran</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for d in data %}
          <tr>
            <td>{{forloop.counter}}</td>  
            <td>{{d.name}}</td>
            <td>
              <a type="button" class="btn btn-success" href="/{{d.id}}">Detail</a>
              <a type="button" class="btn btn-warning" href="/{{d.id}}/edit">Edit</a>
              <a type="button" class="btn btn-danger" href="/{{d.id}}/delete">Hapus</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
 
  </div>


</body>
</html>